@font-face {
    font-family: "sentinel-book";
    src: url(assets/sentinel-book.ttf) format("truetype");
}

@font-face {
    font-family: "sentinel-bold";
    src: url(assets/sentinel-bold.ttf);
}

@font-face {
    font-family: "sentinel-semibold";
    src: url(assets/sentinel-semibold.ttf);
}

@font-face {
    font-family: "gotham-medium";
    src: url(assets/GOTHAM-MEDIUM.TTF);
}

@font-face {
    font-family: "gotham-bold";
    src: url(assets/GOTHAM-BOLD.TTF);
}

@font-face {
    font-family: "lato-thin";
    src: url(assets/Lato-Thin.ttf);
}

@font-face {
    font-family: "lato-light";
    src: url(assets/Lato-Light.ttf);
}

h3 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 25px;
}

.majorGrid {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: 150px repeat(4, auto) 50px;
	grid-gap: 10px 8px;
	grid-template-areas:
		"space1 header space2"
		"space1 blurb space2"
		"space1 publications space2"
		"space1 teaching space2"
		"space1 opensource space2"
		"space1 copyright space2";
	margin: 0px;
}

.filler {
	grid-area: space1;
	min-width: 250px;
}

.wrapper {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	z-index: 2;
	margin: 122px 20px 0px 5%;
}

#profilephoto {
	max-width: 150px;
	margin-bottom: 50px
}

.name {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactIcons {
	margin: 30px;
	font-size: 150%;
}

.text {
	text-align: left;
	margin: 25px 0px 0px 50px;
	font-family: "gotham-medium", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}

#aboutmenu {
	margin-top: 0px;
}

#resumemenu {
	text-align: left;
}

a:link {
	vertical-align: baseline;
	text-decoration: none;
	color: #898989;
}

a:hover {
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}

a:visited {
	vertical-align: baseline;
	text-decoration: none;
	color: #898989;
}

.blurb {
	grid-area: blurb;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

.blurb2 {
	padding-right: 50px;
	line-height: 25px;
}

.wrapper2 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: grid;
	grid-gap: 30px 50px;
	margin-top: 25px;
}

.projName {
	color: black;
	font-size: 16px;
	margin-bottom: 5px;
	font-family: Lato;
	font-weight: bold;
	display: flex;
}

.projDescription {
	color: black;
	font-family: lato-light;
	font-size: 13px;
	margin: 0px 0px;
}

.projDescriptionLink {
	color: black;
	font-family: lato-light;
	font-size: 13px;
	margin: 0px 0px;
}

.links {
	margin-left: auto;
	font-family: lato-light;
	font-size: 13px;
}

.sectionHeader {
	color:#2f8480;
	margin: 50px 0px 0px 0px;
}

#publications {
	grid-template-rows: repeat(10, auto);
	grid-area: publications;
}

#publicationsHeader {
	grid-row: 1/2;
}

#mimicri {
	grid-row: 2/3;
}

#vista {
	grid-row: 3/4;
}

#elicitation {
	grid-row: 4/5;
}

#bonxai {
	grid-row: 5/6;
}

#hjl {
	grid-row: 6/7;
}

#causalvis {
	grid-row: 7/8;
}

#vaine {
	grid-row: 8/9;
}

#STAR2021 {
	grid-row: 9/10;
}

#teaching {
	grid-template-rows: repeat(5, auto);
	grid-area: teaching;
	margin-bottom: 50px;
}

#teachingHeader {
	grid-row: 1/2;
}

/*#CS4873 {
	grid-row: 2/3;
}

#CS7450 {
	grid-row: 3/4;
}

#CMU15112 {
	grid-row: 4/5;
}*/

#opensource {
	display: grid;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: 1fr;
	grid-gap: 30px 50px;
	grid-area: opensource;
}


#opensourceDescription {
	grid-column: 1/3;
}

#auteur {
	grid-column: 1/3;
}

#causalvisgit {
	grid-column: 1/3;
}


#projectsHeader {
	grid-column: 1/3;
	grid-row: 1/2;
}


/* The following is for
adding images with overlay */
.container {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	margin-top: 14px;
	margin-bottom: 15px;
	transition: .2s ease;
	backface-visibility: hidden;
}

.overlay {
	transition: .2s ease;
	opacity: 0;
	position: absolute;
	bottom: 0%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 25px;
}

.imageText {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 0px;
}

.imageSubText {
	color: black;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	line-height: 20px;
}

.imageSubSubText {
	color: black;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-left: 25px;
	margin-right: 25px;
	line-height: 15px;
}

/* The following is for the
copyright on bottom left of page */
#item3 {
	grid-area: copyright;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.topnav {
	position: relative;
	font-family: "gotham-medium", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	display: none;
	width: 100%;
}

#mobileabout {
	padding-top: 80px;
}

#mobileresume {
	padding-bottom: 50px;
}

.topnav #mobileMenu {
	display: none;
}

.topnav a {
	background: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding-left: 50px;
}

.topnav a.icon {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
}

@media only screen and (max-width: 768px) {
	.topnav {
		position: fixed;
		display: block;
	}

	.majorGrid {
		grid-template-columns: 1fr 4fr 1fr;
	}

	.menu {
		display: none;
	}

	.name {
		font-size: 30px;
	}

	.filler {
		display: none;
	}

  	.blurb {
    	font-size: 12px;
  	}

  	.blurb2 {
  		padding-right: 0px;
  	}

  	.sectionHeader {
  		line-height: 1.25;
  	}
}