@font-face {
    font-family: "sentinel-book";
    src: url(assets/sentinel-book.ttf) format("truetype");
}

@font-face {
    font-family: "sentinel-bold";
    src: url(assets/sentinel-bold.ttf);
}

@font-face {
    font-family: "sentinel-semibold";
    src: url(assets/sentinel-semibold.ttf);
}

@font-face {
    font-family: "gotham-medium";
    src: url(assets/GOTHAM-MEDIUM.TTF);
}

@font-face {
    font-family: "gotham-bold";
    src: url(assets/GOTHAM-BOLD.TTF);
}

.majorGrid {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 150px auto 50px;
	grid-gap: 10px 8px;
	grid-template-areas:
		"space1 header space2"
		"space1 contents space2"
		"space1 copyright space2";
}


/* The following is for the
navigation bar */
.wrapper {
	grid-area: header;
	display: grid;
	grid-template-columns: repeat(6, 1fr) repeat(2, 70px);
	grid-template-rows: 50px;
	grid-gap: 0px 40px;
}

.name {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.text {
	text-align: right;
	margin-top: auto;
	font-family: "gotham-medium", Georgia, serif;
	font-size: 16px;
	letter-spacing: 1px;
}

a:link {
	vertical-align: baseline;
	text-decoration: none;
	color: #898989;
}

a:hover {
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}

a:visited {
	vertical-align: baseline;
	text-decoration: none;
	color: #898989;
}

#link1 {
	grid-column: 7/8;
	grid-row: 2/3;
	text-align: left;
}

#link2 {
	grid-column: 8/9;
	grid-row: 2/3;
	text-align: right;
}


/* The following is for main
body content */
.wrapper2 {
	grid-area: contents;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-gap: 30px 30px;
	margin-top: 100px;
}


/* The following is for project
title and affiliations */
.metaInfo {
	grid-column: 1/2;
	grid-row: 1/2;
}

.pName {
	line-height: 30px;
}


/* The following is for
adding images with overlay */
.container {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
	transition: .2s ease;
	backface-visibility: hidden;
}

.overlay {
	transition: .2s ease;
	opacity: 0;
	position: absolute;
	bottom: 0%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	line-height: 15px;
}

.imageText {
	margin-left: 25px;
	margin-right: 25px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}


/* The following is for the
content labels at the side */
.contents {
	font-weight: 600;
}

#one {
	grid-column: 1/2;
	grid-row: 3/4;
}

#two {
	grid-column: 1/2;
	grid-row: 4/5;
}

#three {
	grid-column: 1/2;
	grid-row: 5/6;
}

#four {
	grid-column: 1/2;
	grid-row: 6/7;
}

#five {
	grid-column: 1/2;
	grid-row: 7/8;
}


.paragraph {
	margin-top: 0px;
}


/* The following is for image
slides at the top of each project
page */
#slides {
	grid-column: 2/4;
	grid-row: 1/2;
}


/* The following is for the
content paragraphs */
#partzero {
	grid-column: 2/4;
	grid-row: 2/3;
}

#partone {
	grid-column: 2/4;
	grid-row: 3/4;
}

#parttwo {
	grid-column: 2/4;
	grid-row: 4/5;
}

#partthree {
	grid-column: 2/4;
	grid-row: 5/6;
}

#partfour {
	grid-column: 2/4;
	grid-row: 6/7;
}

#partfive {
	grid-column: 2/4;
	grid-row: 7/8;
}


/* The following is for the gifs */
.gifs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

#gif1 {
	grid-column: 1/2;
}

#gif2 {
	grid-column: 2/3;
}


/* The following is for the
copyright on bottom left of page */
#item3 {
	grid-area: copyright;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 14px;
	letter-spacing: 1px;
}