.majorGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px repeat(4, auto);
	grid-template-areas:
		"nav nav"
		"banner banner"
		"introduction image"
		"footer footer";
	margin: 0px;
	min-width: 953px;
}

#nav {
	display: flex;
	align-items: center;
	grid-area: nav;
	background-color: lightgray;
	padding-left: 50px;
	display: grid;
	grid-template-columns: repeat(6, auto) 40%;
	grid-gap: 20px;
}

#download {
	grid-column: 8/9;
	position: absolute;
	right: 50px;
	top: 25px;
	transform: translate(0, -50%);
}


#navButton {
	height: 25px;
	border-radius: 25px;
	background-color: darkblue;
	border: none;
	font-size: 14px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

#banner {
	grid-area: banner;
	text-align: left;
	font-size: 35px;
	color: #fff;
	background-color: darkblue;
	padding-left: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		"bannerText bannerText"
		"description tutorialButton";
}

#bannerText {
	grid-area: bannerText;
}

#bannerDescription {
	grid-area: description;
	margin-top: 7px;
}

#tutorialButton {
	grid-area: tutorialButton;
}

#startTutorialButton {
	background-color: darkorange;
	color: white;
	height: 30px;
	border: none;
}

#startTutorialButton2 {
	background-color: darkblue;
	color: white;
	height: 30px;
	border: none;
}

#introduction {
	grid-area: introduction;
	padding-left: 50px;
	padding-top: 50px;
}

#image {
	grid-area: image;
	margin: 50px;
}

#footer {
	grid-area: footer;
	background-color: darkblue;
	padding: 50px;
	color: white;
}